### POWERDNS
powerdns:
  # powerdns server config
  server:
    recursor: '8.8.8.8'
  # powerdns-backend-mysql config
  backend-mysql:
      gmysql-host: 'mysql.domain.tld'
      gmysql-port: '3306'
      gmysql-dbname: 'powerdns'
      gmysql-user: 'powerdns'
      gmysql-password: 'secret'
      gmysql-dnssec: 'yes'
      # Needed for create database, mostly mysql-root-user
      connection-user: 'root'
      connection-pass: 'mysql-root-pass'
  # powerdns-backend-pgsql config
  backend-pgsql:
      gpgsql-host: 'pgsql.domain.tld'
      gpgsql-port: '3306'
      gpgsql-dbname: 'powerdns'
      gpgsql-user: 'powerdns'
      gpgsql-password: 'secret'
      gpgsql-dnssec: 'yes'
      # Needed for create database, mostly pgsql-root-user
      connection-user: 'root'
      connection-pass: 'pgsql-root-pass'
  